.button{
    display: flex;
    padding: 0.25rem 1rem 0.25rem 1rem;
    color: #459DF5;
}

.button-icon{
    width: 1.1rem;
    height: 1.1rem;
}

.button-label{
    margin-left: 0.4rem;
    margin-top: 0.12rem;
}